body {
    background-color: #161655;
}

.parentOtp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {

    padding: 55px;
    margin: 100px;
    padding-top: 100px;
    background-color: #ffffff;
    border-radius: 8%;
    height: 261px;

}

input {
    width: 25px;
    padding: 15px;
    height: 25px;
    margin: 5px;
    text-align: center;
    background-color: white;
    border-radius: 21%;
    border: 2px solid silver;
}

input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: 3px solid #161655;
    color: black;
}

.boxLoading {
    border-top: 3px solid #161655;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #161655;
    border-right: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 418px;
    left: 674px;
}

p {
    text-align: center;
    font-size: x-large;
    font-family: cursive;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}